/.vscode
/TODO.txt
/node_modules
___YT-DLP/*.mp3
___YT-DLP/*.mp4
___YT-DLP/*.png
___YT-DLP/*.jpg
___YT-DLP/*.ini
___YT-DLP/*.vtt
___YT-DLP/*.ps1
___YT-DLP/*.cmd
___YT-DLP/*.mkv
___YT-DLP/*.webm
___YT-DLP/*.webp
___YT-DLP/*.zip
___YT-DLP/*.json
/___FFMPEG
