<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../images/favicon.png">
    <title>DanRom LocalTools</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', []);
    </script>

    <!-- START OF GENERAL CSS -->
    <style>
        body {
            font-family: arial;
            word-wrap: break-word;
            overflow-y: scroll;
        }

        input {
            font-size: medium;
        }

        select {
            font-size: large;
        }

        textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            resize: vertical;
            width: 100%;
        }

        legend {
            font-size: large;
        }

        button {
            user-select: none;
        }

        .textInput {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            width: 100%;
        }

        .standardBtn {
            font-size: large;
            margin-bottom: 4px;
        }
    </style>
    <!-- END OF GENERAL CSS-->

    <!-- START OF BACK TO TOP BUTTON -->

    <script>
        // (A) SMOOTH SCROLL TO TOP
        function totop() {
            window.scroll({
                top: 0, left: 0, behavior: "smooth"
            });
        }

        // // (B) SHOW/HIDE BUTTON
        function togtop() {
            if (window.scrollY >= 100) {
                document.getElementById("backtop").classList.add("show");
            } else {
                document.getElementById("backtop").classList.remove("show");
            }
        }
        window.addEventListener("scroll", togtop);
        window.addEventListener("resize", togtop);
    </script>

    <style>
        #backtop {
            /* (A) BOTTOM RIGHT CORNER */
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;

            /* (B) HIDDEN BY DEFAULT */
            visibility: none;
            opacity: 0;

            /* (C) COSMETICS */
            cursor: pointer;
            transition: opacity 0.3s;
        }

        /* (D) SHOW BUTTON */
        #backtop.show {
            visibility: visible;
            opacity: 1;
        }

        /* (X) DOES NOT MATTER */
        * {
            font-family: arial, sans-serif;
            box-sizing: border-box;
        }
    </style>

    <!-- END OF BACK TO TOP BUTTON -->

<body ng-app="myApp">
    <fieldset>
        <legend>DanRom LocalTools</legend>
        <button class="standardBtn" style="background-color: red;" onclick="showForm('YT-DLP_GUI-FORM')">YT-DLP
            GUI</button>
        <button class="standardBtn" style="background-color: green;" onclick="showForm('FFMPEG_GUI-FORM')">FFMPEG
            GUI</button>
        <button class="standardBtn" onclick="showForm('RemoveLineBreaks-FORM')">Remove Line Breaks</button>

        <button class="standardBtn" onclick="showForm('FileName_UrlConverter-FORM')">File Name ↔ URL
            Converter</button>
        <button class="standardBtn" onclick="showForm('RemoveNonASCII-FORM')">Remove Non-ASCII</button>
        <button class="standardBtn" onclick="showForm('UrlCleaner-FORM')">URL Cleaner</button>
        <button class="standardBtn" onclick="showForm('ChangeLetterCase-FORM')">Change Letter Case</button>
        <button class="standardBtn" onclick="showForm('Listify-FORM')">Listify</button>
    </fieldset>

    <p>📜 = Create Script | 📂 = Open Folder | 🔡 = Remove Non-ASCII Characters in Folder</p>

    <form action="/YT-DLP_GUI" method="POST" id="YT-DLP_GUI-FORM" style="display: none;">
        <fieldset>
            <legend style="color: red;">YT-DLP GUI</legend>

            <input style="font-size: x-large" type="submit" name="WriteScript" value="📜">
            <input style="font-size: x-large" type="submit" name="OpenDir" value="📂">
            <input style="font-size: x-large" type="submit" name="RemoveNonASCII" value="🔡">

            <p>
                <input style="font-size: large" type="submit" name="AudioAndImageToVid" value="Audio + Image To Video*">
            </p>
            <p>*Takes all mp3s and pngs in the folder and creates a video, provided each respective file exists and has
                the same name excluding the file extension.</p>

            <p>If you just want to add black image to an MP3 for the purposes of copyright checking, check the box
                at the bottom. The <b>black.jfif</b> file will be used instead.</p>
            <hr>
            <div>
                Enter all channel, playlist and video links here. <b>(One link per line)</b>
                <textarea class="textInput" name="URLs" rows="10"></textarea>
            </div>

            <h3>Select Content to Download (Select at least one)</h3>

            <input type="checkbox" name="Video" id="Video">
            <label for="Video">Video (.mp4)</label>
            <br>
            <input type="checkbox" name="Audio" id="Audio">
            <label for="Audio">Audio (.mp3)</label>
            <br>
            <input type="checkbox" name="Thumbnail" id="Thumbnail">
            <label for="Thumbnail">Thumbnail (.png)</label>
            <br>
            <input type="checkbox" name="Subtitles" id="Subtitles">
            <label for="Subtitles">Subtitles (.vtt)</label>
            <br>
            <input type="checkbox" name="Comments" id="Comments">
            <label for="Comments">Comments (.json)</label>

            <h3>Set Video Resolution</h3>

            <p><b>NOTES: </b>
            <ul>
                <li>
                    The below dropdown will be ignored if <i>Video</i> isn't selected.
                </li>
                <li>
                    The video FPS should be taken care of automatically if the supported resolutions are selected.
                </li>
            </ul>

            </p>

            <select name="VideoResolution">
                <option value="Best">Best</option>
                <option value="4320">8K (4320p)</option>
                <option value="2160">4K (2160p)</option>
                <option value="1440">1440p</option>
                <option value="1080">1080p</option>
                <option value="720">720p</option>
                <option value="480">480p</option>
                <option value="360">360p</option>
                <option value="240">240p</option>
                <option value="144">144p</option>
            </select>

            <h3>Misc. Settings</h3>

            <input type="checkbox" name="Channel" id="Channel">
            <label for="Channel">Include Channel Name in File</label>

            <h3>Power Options When Complete</h3>

            <input type="radio" name="PowerOp" id="PowerOp_None-YT-DLP" value="None" checked>
            <label for="PowerOp_None-YT-DLP">None</label><br>
            <input type="radio" name="PowerOp" id="PowerOp_Hibernate-YT-DLP" value="Hibernate">
            <label for="PowerOp_Hibernate-YT-DLP">Hibernate</label><br>
            <input type="radio" name="PowerOp" id="PowerOp_ShutDown-YT-DLP" value="Shut Down">
            <label for="PowerOp_ShutDown-YT-DLP">Shut Down</label><br>

            <p>
                <input style="font-size: x-large" type="submit" name="WriteScript" value="📜">
                <input style="font-size: x-large" type="submit" name="OpenDir" value="📂">
                <input style="font-size: x-large" type="submit" name="RemoveNonASCII" value="🔡">
            </p>

            <input style="font-size: large" type="submit" name="AudioAndImageToVid" value="Audio + Image To Video*">
            <p>*Takes all mp3s and pngs in the folder and creates a video, provided each respective file exists and has
                the same name excluding the file extension.</p>

            <p>
                If you just want to add black image to an MP3 for the purposes of copyright checking, check the box
                at the bottom. The <b>black.jfif</b> file will be used instead.</p>

            <input type="checkbox" name="UseBlack" id="AudioImageToMP4_UseBlack">
            <label for="AudioImageToMP4_UseBlack">Use Black Image Instead</label>
        </fieldset>
    </form>

    <form action="/FFMPEG_GUI" method="POST" id="FFMPEG_GUI-FORM" style="display: none;">
        <fieldset>
            <legend style="color: green;">FFMPEG GUI</legend>

            <input style="font-size: x-large" type="submit" name="WriteScript" value="📜">
            <input style="font-size: x-large" type="submit" name="OpenDir" value="📂">
            <input style="font-size: x-large" type="submit" name="RemoveNonASCII" value="🔡">
            <p>
                After generating all files, use these two buttons below to mark the media files accordingly. <b
                    style="color: orange">This will not work if the naming conventions for the files are changed!</b>
                    These two buttons also leverage the <b style="color: orange">Include/Exclude Options</b>, so ensure you filter the files you do and don't want to rename!
            </p>
            <p>
                <input style="font-size: large" type="submit" name="MarkLargerFiles" value="Mark Larger Files">
                <input style="font-size: large" type="submit" name="MarkInputFiles" value="Mark Input Files">
            </p>

            <!-- START OF GENERAL CONFIGURATIONS -->

            <!-- <h3>Marking Options</h3>

            <p>
                <input type="radio" id="MarkOption1" name="MarkOption" value="None" checked>
                <label for="MarkOption1">None</label><br>
                <input type="radio" id="MarkOption2" name="MarkOption" value="MarkLarger">
                <label for="MarkOption2">Mark Larger Files When Finished</label><br>
                <input type="radio" id="MarkOption3" name="MarkOption" value="MarkInput">
                <label for="MarkOption3">Mark Input Files When Finished</label>
            </p> 
            <p style="color:orange">
                <b>WARNING! </b>Options other than "None" will rename your files!
            </p>
            -->
            <h3>Custom Path Option</h3>

            <p>
                To use a custom path, enter the <b>absolute</b> path of the folder below:
                <input class="textInput" name="CustomPath">
            </p>

            <p>
                Otherwise, if the field above is left blank, generate the script <b>AFTER</b> placing the video files in
                the <b>
                    <%= FFMPEG_Path %>
                </b> folder in the root of the project.
            </p>

            <h3>Append At End Option</h3>
            <input type="checkbox" name="AppendToEnd" id="AppendToEnd">
            <label for="AppendToEnd">Append to End?</label>
            <p>
                If checked, the string `<i>(OUTPUT)</i>` will appear at the end of the file name. Otherwise, it will be
                inserted at the beginning.
            </p>

            <h3>Include/Exclude Options</h3>
            <p style="color:purple">If trimming media, these include/exclude options will be ignored entirely.</p>
            <p>
                <input type="radio" id="IncExc_Option1" name="IncExc_Option" value="All" checked>
                <label for="IncExc_Option1">All Items In Folder</label><br>
                <input type="radio" id="IncExc_Option2" name="IncExc_Option" value="Include">
                <label for="IncExc_Option2">Include Only Set Items</label><br>
                <input type="radio" id="IncExc_Option3" name="IncExc_Option" value="Exclude">
                <label for="IncExc_Option3">Exclude Only Set Items</label>
            </p>

            <p>
                Enter the <b>full names of all files WITH file extensions</b> to included/excluded below. Selecting
                <b>All Items In Folder</b> will ignore this input and default to including all with file extensions in
                the chosen folder.
                <textarea class="textInput" name="IncExc_Items" rows="6"></textarea>
            </p>

            <h3>Power Options When Complete</h3>

            <p>
                <input type="radio" name="PowerOp" id="PowerOp_None" value="None" checked>
                <label for="PowerOp_None">None</label><br>
                <input type="radio" name="PowerOp" id="PowerOp_Hibernate" value="Hibernate">
                <label for="PowerOp_Hibernate">Hibernate</label><br>
                <input type="radio" name="PowerOp" id="PowerOp_ShutDown" value="Shut Down">
                <label for="PowerOp_ShutDown">Shut Down</label>
            </p>
            <hr>
            <p>For the following sections below, check the boxes if you want to include the corresponding option. If an
                option's checkbox is not checked, it will not be used. <b>The default functionality assumed is an input
                    an output of the same file type.</b></p>

            <fieldset>
                <input type="checkbox" name="TrimMedia" id="TrimMedia">
                <label for="TrimMedia">Trim Media?</label>

                <p>
                    For all inputs below, ensure that they are separated by a <b>line break</b> and that each desired
                    input
                    is mapped correctly.<br>
                    (Ex. Line 1 of each input will be mapped to the first command in the <b>!trimMedia.ps1</b> script
                    file)
                </p>
                <hr>
                <p>
                    Enter the names of the input files <b>including file extensions</b> below:<br>
                    (Note: The file extensions for the input and output files must be the same for this step to
                    work.)<br>
                    <textarea class="textInput" name="InputFileNames" rows="6"></textarea>
                </p>
                <p>
                    Enter the desired names of the output files <b>including file extensions</b> below:<br>
                    <textarea class="textInput" name="OutputFileNames" rows="6"></textarea>
                </p>

                <hr>

                <p>
                    Enter start and end times in one of the two formats below:
                <ul>
                    <li>HOURS:MM:SS.MILLISECONDS</li>
                    <li>HOURS:MM:SS</li>
                </ul>
                </p>

                <p>
                    Enter start times:<br>
                    <textarea class="textInput" name="StartTimes" rows="6"></textarea>
                </p>

                <p>
                    Enter end times:<br>
                    <textarea class="textInput" name="EndTimes" rows="6"></textarea>
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="ConvertFileType" id="ConvertFileType">
                <label for="ConvertFileType">Convert File Type?</label>

                <p>
                    Enter all desired output file extensions separated by a <b>line break</b> below:
                    <textarea class="textInput" name="OutputExtensions" rows="3"></textarea>
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="UseCustomBitrate" id="UseCustomBitrate">
                <label for="UseCustomBitrate">Custom Bitrate?</label>

                <p>
                    <input type="number" min="0" name="CustomBitrate"> kbps
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="UseCustomFramerate" id="UseCustomFramerate">
                <label for="UseCustomFramerate">Custom Framerate?</label>

                <p>
                    <input type="number" min="0" name="CustomFramerate"> FPS
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="UseCustomResolution" id="UseCustomResolution">
                <label for="UseCustomResolution">Custom Resolution?</label>

                <fieldset>
                    <p>
                        <input type="radio" name="TypeOfScaling" id="16x9_AspectRatios" value="16x9" checked>
                        <label for="16x9_AspectRatios">Use 16x9 Aspect Ratio For Down-Scaling: </label>

                        <select name="Preset_16x9_Dimensions">
                            <option value="1920:1080">1920 x 1080 (1080p)</option>
                            <option value="1280:720">1280 x 720 (720p)</option>
                            <option value="640:360">640 x 360 (360p)</option>
                            <option value="512:288">512 x 288 (288p)</option>
                            <option value="384:216">384 x 216 (216p)</option>
                            <option value="256:144">256 x 144 (144p)</option>
                        </select>
                    </p>

                </fieldset>

                <fieldset>
                    <p>
                        <input type="radio" name="TypeOfScaling" id="CustomScaling" value="CustomScaling">
                        <label for="CustomScaling">Use Custom Scaling</label>
                    </p>
                    <p>
                        Select the scaling algorithm you prefer:

                        <select name="ScaleType">
                            <option value="fast_bilinear">fast_bilinear</option>
                            <option value="bilinear">bilinear</option>
                            <option value="bicubic">bicubic</option>
                            <option value="experimental">experimental</option>
                            <option value="neighbor">neighbor</option>
                            <option value="area">area</option>
                            <option value="bicublin">bicublin</option>
                            <option value="gauss">gauss</option>
                            <option value="sinc">sinc</option>
                            <option value="lanczos">lanczos</option>
                            <option value="spline">spline</option>
                            <option value="print_info">print_info</option>
                            <option value="accurate_rnd">accurate_rnd</option>
                            <option value="full_chroma_int">full_chroma_int</option>
                            <option value="full_chroma_inp">full_chroma_inp</option>
                            <option value="bitexact">bitexact</option>
                            <option value="error_diffusion">error_diffusion</option>
                        </select>
                    </p>

                    <p>
                        Enter your desired multiplier of the scaled media.
                        <input type="number" class="textInput" step="any" name="ScaleMultiplier" min="0">
                    </p>
                </fieldset>
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="LoopMedia" id="LoopMedia">
                <label for="LoopMedia">Loop Media?</label>

                <p>
                    Enter the total number of <b>additional</b> times you would like the media to be looped. (Ex. 1 loop
                    is 2 times.)
                    <br><input type="number" class="textInput" name="NumLoops" min="1">
                </p>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="ReverseMedia" id="ReverseMedia">
                <label for="ReverseMedia">Reverse Media?</label>
            </fieldset>

            <p>
                <input style="font-size: x-large" type="submit" name="WriteScript" value="📜">
                <input style="font-size: x-large" type="submit" name="OpenDir" value="📂">
                <input style="font-size: x-large" type="submit" name="RemoveNonASCII" value="🔡">
            </p>

            <p>
                After generating all files, use these two buttons below to mark the media files accordingly. <b
                    style="color: orange">This will not work if the naming conventions for the files are changed!</b>
                    These two buttons also leverage the <b style="color: orange">Include/Exclude Options</b>, so ensure you filter the files you do and don't want to rename!
            </p>
            <p>
                <input style="font-size: large" type="submit" name="MarkLargerFiles" value="Mark Larger Files">
                <input style="font-size: large" type="submit" name="MarkInputFiles" value="Mark Input Files">
            </p>

        </fieldset>
    </form>

    <form id="RemoveLineBreaks-FORM" action="/RemoveLineBreaks" method="POST" style="display: none">
        <fieldset>
            <legend>Remove Line Breaks</legend>
            <input style="font-size: large" type="submit" value="Submit">
            <textarea name="TextToChange" rows="40"></textarea>
            <input style="font-size: large" type="submit" value="Submit">
        </fieldset>
    </form>

    <form id="FileName_UrlConverter-FORM" action="/FileName_UrlConverter" method="POST" style="display: none">
        <fieldset>
            <legend>File Name ↔ URL Converter</legend>
            <input style="font-size: large" type="submit" value="Convert">

            <h3>Custom Path Option</h3>
            <p>
                Enter custom path to read file names from your computer OR leave blank to input file names/URLs
                manually:
                <input class="textInput" name="CustomPath">
                If a custom path is entered, it will override the "Select Conversion Type option below and automatically
                use "File Name to URL".
            </p>

            <h3>Format For File Names</h3>
            <p>
                <b>NOTE: </b>Naming conventions below do not include file extensions. The conventions below apply to any
                valid media file extension.
            </p>

            <p>
                <b>General File Name Format:</b>
                <b style="color: green;">AccountName</b>-<b style="color: green;">ID</b>-<b
                    style="color: grey;">WhateverElse</b>
            </p>
            <p>
            <ul>
                <li>
                    <b style="color: grey;">WhateverElse</b>
                    will be removed as it doesn't matter what comes after the ID.
                </li>
                <li>Supported platforms that follow the general convention are as follows:
                    <ul>
                        <li>Twitter / X</li>
                        <li>Tumblr</li>
                        <li>Bluesky</li>
                        <li>Threads (An @ symbol precedes every username)</li>
                    </ul>
                </li>
                <li>Platforms whose formats do not follow this convention will be specified below.</li>
            </ul>

            <p>
                <b style="color: deeppink">Instagram:</b>
                Only the ID matters in the file name, and <i style="color: deeppink">~IG~</i> replaces the dash in the
                general format.
                <i style="color: deeppink">Also, the ID in the format below refers to the POST ID, not the image ID when
                    downloading an image from Instagram.
                    This design is intentional as it's the easiest way to identify the image author!</i>
            </p>
            <p>
                <b style="color: orange">Newgrounds:</b>
                <i style="color: orange">~NG~</i> replaces the dash in the general format.
                Newgrounds formats may not always work since the account name provided by the image isn't always
                up-to-date.
            <ul>
                <li>
                    <b>Newgrounds File Name Format: </b><b style="color: orange">AccountName</b>~NG~<b
                        style="color: orange">PostName</b>~NG~WhateverElse
                </li>
            </ul>
            </p>
            <p>
                <b style="color: orangered">Reddit:</b>
                Subreddit name, ID and post name matter in the file name.
                <i style="color: orangered">Also, the ID in the format below refers to the POST ID, not the image ID
                    when
                    downloading an image from Reddit.
                    This design is intentional as it's the easiest way to identify the image author!</i>
            <ul>
                <li>
                    <b>Reddit File Name Format: </b><b style="color: orangered">Subreddit</b>-<b
                        style="color: orangered">ID</b>-<b style="color: orangered">PostName</b></b>-WhateverElse
                </li>
            </ul>
            </p>
            <p>
                <b style="color: #00e59b">DeviantArt:</b>
                Account name, post name and ID matter in the file name.
            <ul>
                <li>
                    <b>DeviantArt File Name Format: </b><b style="color: #00e59b">AccountName</b>-<b
                        style="color: #00e59b">PostName</b>-<b style="color: #00e59b">ID</b>
                </li>
            </ul>
            </p>
            <p>
                <b style="color: dodgerblue">Pixiv:</b>
                Only IDs matter, which must occur in the very beginning, followed by an underscore [ _ ].
            <ul>
                <li>
                    <b>Pixiv File Name Format: </b><b style="color: dodgerblue">ID</b>_AccountName_WhateverElse
                </li>
            </ul>
            </p>
            <p>
                <b style="color: brown">FurAffinity:</b>
                Only IDs matter, which must occur in the very beginning, followed by a dot [ . ].
                <i style="color: brown">Also, the ID in the format below refers to the POST ID, not the image ID when
                    downloading an image from FurAffinity.
                    This design is intentional as it's the easiest way to identify the image author!</i>
            <ul>
                <li>
                    <b>FurAffinity File Name Format: </b><b style="color: brown">ID</b>.AccountName.WhateverElse
                </li>
            </ul>
            </p>

            <p>
                <b>Pillowfort:</b>
                Only IDs matter. Otherwise, the naming convention is the same.
                <hr>

            <p>
                Input either all file names or all URLs here:
                <textarea class="textInput" name="InputStrs" rows="10"></textarea>
                (This textarea will be ignored if a custom path is used.)
            </p>

            <p>
                <input type="checkbox" id="OptDiscordEmb" name="OptDiscordEmb">
                <label for="OptDiscordEmb">Optimal Discord Embedding in URLs</label>
            </p>
            <h4>What's Optimal Discord Embedding?</h4>
            <p>
                This option only applies when converting file names to URLs. Discord utilizes
                special variants of social media URLs for better embedding in messages containing links. Here are a few
                examples:
            <ul>
                <li>twitter.com ➡ fxtwitter.com</li>
                <li>instagram.com ➡ ddinstagram.com</li>
                <li>pixiv.net ➡ phixiv.net</li>
            </ul>
            These links redirect you the same page, so these variants exist purely for better embedding on Discord and
            other supported platforms.
            </p>

            <p><b style="font-size: large;">Select Conversion Type: </b>
                <select name="Option">
                    <option value="FileName_to_URL">File Name to URL</option>
                    <option value="URL_to_FileName">URL to File Name</option>
                </select>
            </p>

            <p><b style="font-size: large;">Select Platform: </b>
                <select name="Platform">
                    <option value="Twitter">Twitter / X</option>
                    <option value="Tumblr">Tumblr</option>
                    <option value="Bluesky">Bluesky</option>
                    <option value="Threads">Threads</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Newgrounds">Newgrounds</option>
                    <option value="Reddit">Reddit</option>
                    <option value="DeviantArt">DeviantArt</option>
                    <option value="Pixiv">Pixiv</option>
                    <option value="FurAffinity">FurAffinity</option>
                    <option value="Pillowfort">Pillowfort</option>
                </select>

            <p>
                <b>NOTE:</b>
                If using
                <i style="color: deeppink">Instagram</i>,
                <i style="color: orange">Reddit</i>,
                <i style="color: dodgerblue">Pixiv</i>
                <i style="color: brown">FurAffinity</i>
                or
                <i>Pillowfort</i>
                combined with "URL to
                File Name", it's recommended to input the account name below. This field will not be used in any other
                use case.
                <br>
                <input class="textInput" name="CustomAccName">
            </p>
            </p>

            <p><input style="font-size: large" type="submit" value="Convert"></p>
        </fieldset>
    </form>

    <form id="RemoveNonASCII-FORM" action="/RemoveNonASCII" method="POST">
        <fieldset>
            <legend>Remove Non-ASCII Characters</legend>

            <input style="font-size: large" type="submit" value="Rename Files">
            <p>
                Enter the <b>absolute</b> path(s) of the folder(s) separated by a <b>line break</b> below:
                <textarea class="textInput" name="FolderPaths" rows="5"></textarea>
            </p>

            <p>
                <input type="checkbox" id="IncludeSubfoldersFileExt" name="IncludeSubfolders">
                <label for="IncludeSubfoldersFileExt">Include Subfolders?</label>
            </p>
            <input style="font-size: large" type="submit" value="Rename Files">

        </fieldset>
    </form>

    <form id="UrlCleaner-FORM" action="/UrlCleaner" method="POST">
        <fieldset>
            <legend>URL Cleaner</legend>
            Enter the URL to clean below:
            <input class="textInput" name="URLtoClean">

            <p>
                Select the type of URL you want to clean:
                <select name="UrlType">
                    <option value="Article">Article</option>
                    <option value="YouTube">YouTube</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Tumblr">Tumblr</option>
                    <option value="Instagram">Instagram</option>
                </select>
            </p>

            <p>
                Check out <a
                    href="https://www.allthescience.org/what-is-a-research-article.htm#:~:text=A%20research%20article%20is%20a%20written%20paper%20that,a%20general%20scope%20as%20a%20means%20of%20introduction.">this
                    example</a> to see what a long article URL looks like.
            </p>

            <input style="font-size: large" type="submit" value="Submit">
        </fieldset>
    </form>

    <form id="ChangeLetterCase-FORM" action="/ChangeLetterCase" method="POST">
        <fieldset>
            <legend>Change Letter Case</legend>
            Enter Text To Change:
            <textarea name="TextToChange" rows="5" ng-model="textToChange"></textarea>
            <fieldset>
                <h3>Upper Case</h3>
                <p>{{textToChange.toUpperCase()}}</p>
                <h3>Lower Case</h3>
                <p>{{textToChange.toLowerCase()}}</p>
            </fieldset>
            <p>
                <input style="font-size: large" type="submit" name="SelectedOperation" class="standardBtn"
                    value="Invert Case">
                <input style="font-size: large" type="submit" name="SelectedOperation" class="standardBtn"
                    value="Randomize Case">
            </p>

            <fieldset>
                <h3>Set Delimiters For Capitalization</h3>
                <p>
                    The fields below only apply for the <b>Capitalize First Letters</b> option. Also, it only
                    capitalizes lowercase letters and does nothing to uppercase letters. Use the automatic lower-case
                    feature to generate the proper input for this feature to work.
                </p>
                <input type="checkbox" name="SpaceDelim" id="SpaceDelim">
                <label for="SpaceDelim">Space [ ]</label>
                <br>
                <input type="checkbox" name="DashDelim" id="DashDelim">
                <label for="DashDelim">Dash [ - ]</label>
                <br>
                <input type="checkbox" name="UnderDelim" id="UnderDelim">
                <label for="UnderDelim">Underscore [ _ ]</label>
                <p>
                    (Optional) Set custom delimiters below separated by a <b>line break</b>:
                    <textarea class="textInput" name="CustomDelims" rows="3"></textarea>
                </p>
                <input style="font-size: large" type="submit" name="SelectedOperation" value="Capitalize First Letters">
            </fieldset>
        </fieldset>
    </form>

    <form id="Listify-FORM" action="/Listify" method="POST">
        <fieldset>
            <legend>Listify</legend>
            Enter Text:
            <textarea name="TextToListify" rows="10"></textarea>

            <p>
                Choose Delimiter:
                <select name="Delimiter">
                    <option value=",">Comma [ , ]</option>
                    <option value=" ">Space [ ]</option>
                    <option value=";">Semicolon [ ; ]</option>
                    <option value="|">Pipe [ | ]</option>
                    <option value=":">Colon [ : ]</option>
                    <option value="&">Ampersand [ & ]</option>
                    <option value="*">Star [ * ]</option>
                    <option value="-">Dash [ - ]</option>
                    <option value="_">Underscore [ _ ]</option>
                </select>
            </p>

            <input style="font-size: large" type="submit" value="Listify">
        </fieldset>
    </form>

    <img src="../images/up-button.png" id="backtop" onclick="totop()" />
    <footer>
        <p>
            <a href="https://www.flaticon.com/free-icon/settings_576981" title="settings icons">Settings icons created
                by Soodesign - Flaticon</a>
        </p>
    </footer>

    <script>
        // --- START OF ROUTING ---
        function showForm(formId) {
            var allForms = document.querySelectorAll('form');
            allForms.forEach(form => form.style.display = 'none');

            var formToShow = document.getElementById(formId);
            if (formToShow) {
                formToShow.style.display = 'block';
                localStorage.setItem('mostRecentForm', formId);
            } else {
                console.error("Element with ID " + formId + " not found.");
            }
        }

        let mostRecentForm;
        if (localStorage.getItem('mostRecentForm')) {
            mostRecentForm = localStorage.getItem('mostRecentForm');
        } else {
            mostRecentForm = '';
        }
        showForm(mostRecentForm);

        // --- END OF ROUTING ---
    </script>
</body>

</html>